setg prompt [%T] %L (s:%S j:%J)

load alias
alias s "sessions -i"
alias j "jobs -l"

alias gen-https "resource /root/.msf4/gen-https.rc"
alias listen-files "resource /root/.msf4/listen-files.rc"
alias listen-http "resource /root/.msf4/listen-http.rc"
alias listen-https "resource /root/.msf4/listen-https.rc"
alias listen-nc "resource /root/.msf4/listen-nc.rc"
alias backup "resource /root/.msf4/backup.rc"

set -g ExitOnSession false
